# Archivos de configuración de Django que NUNCA deben estar en la raíz
/settings.py
/wsgi.py
/asgi.py
/urls.py

# Entorno virtual
venv/

# Archivos de caché de Python
__pycache__/
*.pyc

# Base de datos local (si usaras SQLite)
*.sqlite3
db.sqlite3

# Archivos de configuración del editor
.vscode/
.idea/

# Archivos de sistema operativo
.DS_Store
Thumbs.db

# Archivos de logs
*.log

# Archivos de media subidos por los usuarios
media/