{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>{% block title %}Abba Hotel Restaurante{% endblock %}</title>

    <meta name="csrf-token" content="{{ csrf_token }}">

    <link rel="icon" href="{% static 'restaurant/images/logo_principal_w.png' %}" type="image/x-icon">

    <!-- Scripts y Fuentes Globales -->
    <script src="https://js.pusher.com/8.0.0/pusher.min.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    
    <!-- Estilos Globales -->
    <style>
        body { 
            font-family: 'Montserrat', sans-serif; 
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }
    </style>

    <!-- Bloque para estilos y scripts adicionales en el head -->
    {% block extra_head %}{% endblock %}
</head>
<body class="{% block body_class %}bg-gray-50{% endblock %}">

    {% block content %}{% endblock %}

    <!-- Global Pusher Configuration -->
    <script>
        const PUSHER_KEY = "{{ PUSHER_KEY }}";
        const PUSHER_CLUSTER = "{{ PUSHER_CLUSTER }}";
    </script>

    {% block extra_js %}{% endblock %}
</body>
</html>